# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true


[[constraint]]
  branch = "master"
  name = "github.com/gorilla/mux"

[[constraint]]
  branch = "master"
  name = "github.com/kardianos/minwinsvc"

[[constraint]]
  branch = "master"
  name = "github.com/launchdarkly/eventsource"

[[constraint]]
  branch = "v1"
  name = "github.com/launchdarkly/gcfg"

[[constraint]]
  branch = "v3"
  name = "gopkg.in/launchdarkly/go-client.v3"
  source = "git@github.com:launchdarkly/go-client-private.git"

[prune]
  go-tests = true
  unused-packages = true
