version: 2

repo:
  public: ld-relay
  private: ld-relay-private

jobs:
  - docker:
      image: cimg/go:1.15.13
    template:
      name: go

branches:
  - name: v6
  - name: v5

publications:
  - url: https://pkg.go.dev/github.com/launchdarkly/ld-relay
    description: documentation
